.mail-preview {
    align-items: center;
    background-color:rgb(245, 245, 245)
}

.mail-avatar-wrapper {
    height: 50px;
    width: 50px;
    min-width: 50px;
    border-radius: 50%;
    margin-right:0.75em;
    display: flex;
    align-items: center;
}

.avatar-img
{
    border-radius: 50%;
}

.not-read {
    font-weight: bold;
    background-color: white;
}