.navbar-item img {
    max-width: 5rem;
    max-height: 100%;
}

.nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0px 40px;
}

.nav-container{
    background-color: rgb(49, 49, 49);
    width: 100vw
}

a.nav-item {
    margin-left: 40px;
    color: white;
}

.nav-logo {
    padding: 0px;
}