
.tag:not(body).mail-to-tag {
    font-size: 15px;
    padding: 20px;
    
}

.card-header {
    padding: 1rem 1.5rem;
}

.card-header > div {
    padding: 0px;
}

.card-header >span {
    margin: 0px;
}