.place-details {
    position:absolute;
    z-index: 999;
    height:100vh;
    width:300px;
    font-size:0.7em;
    background: white;
}

.details-selectors {
    margin-top:5px;
    font-size: 1.5em;
    text-align: center
}

.details-selectors * {
    margin-left: 10px;
    cursor: pointer;
}