.place-details {
    position:absolute;
    z-index: 999;
    height:92vh;
    width:25vw;
    font-size:0.7em;
    background: white;
}

.details-selectors {
    margin-top:5px;
    font-size: 1.5em;
    text-align: center
}
.place-details .image.is-48x48 {
    /* width:25px;
    height:auto */
}
.details-selectors * {
    margin-left: 10px;
    cursor: pointer;
}

.exit-place-details {
    float: right;
    margin-right: 7px;
    position: relative;
    top: -22px;
}

.place-details-icon {
    background-color: rgb(204, 204, 204);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.1s;
    margin: 3px;
}
.place-details-icon i {
    color: white;
    font-size: 20px;
}
.place-details-icon:hover {
    background-color: rgb(145, 145, 145);
}

.place-details-icon:hover i {
    font-size: 21px;
}

@media screen and (max-width:600px) {
    .card.place-details {
        width: 100vw;
        z-index: 10000;
    }
}
