.place-details {
    position:absolute;
    z-index: 999;
    height:92vh;
    width:25vw;
    font-size:0.7em;
    background: white;
}

.details-selectors {
    margin-top:5px;
    font-size: 1.5em;
    text-align: center
}

.details-selectors * {
    margin-left: 10px;
    cursor: pointer;
}

@media screen and (max-width:600px) {
    .card.place-details {
        width: 100vw;
        z-index: 10000;
    }
}